.roboto-body {
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

@keyframes scrollText {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.runningTime {
    text-align: center;
    color: white;
    background-color: rgba(0,0,0,.7);
    width: auto;
}
.eventName {
    text-align: left;
    color: white;
    background-color: rgba(0,0,0,.7);
    width: auto;
}
.laneNumber {
    text-align: center;
    color: white;
    background-color: rgba(0,0,0,.7);
    width: auto;
}
.placeNumber {
    text-align: center;
    color: white;
    background-color: rgba(0,0,0,.7);
    width: auto;
}
.athleteName {
    text-align: left;
    color: white;
    background-color: rgba(0,0,0,.7);
    width: auto;
}
.teamName {
    text-align: center;
    color: white;
    background-color: rgba(0,0,0,.7);
    width: auto;
}
.splitTime {
    text-align: center;
    color: white;
    background-color: rgba(0,0,0,.7);
    width: 100%; /* Ensure full width */
    box-sizing: border-box; /* Include padding in the element's total width and height */
}
.finalTime {
    text-align: center;
    color: white;
    background-color: rgba(0,0,0,.7);
    width: 100%; /* Ensure full width */
    box-sizing: border-box; /* Include padding in the element's total width and height */
}
.col-sm-1, .col-sm-2, .col-sm-4, .col-sm-5, .col-sm-8 {
    background-color: rgba(0, 0, 0, 0.7); /* Apply background color */
}
.row{
    background-color: rgba(0, 0, 0, 0.7); /* Apply background color */
    flex: 1; /* Make each row take up an equal portion of the height */
    display: flex; /* Ensure rows use flexbox for child alignment */
}
h3 {
    margin: 0; /* Remove default margin to avoid spacing issues */
    width: 100%; /* Ensure the text spans the full width */
}
html, body {
    height: 100%; /* Ensure the HTML and body take up the full viewport height */
    width: 100%; /* Ensure the HTML and body take up the full viewport width */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}
.container {
    width: 100%; /* Make the container take up the full width */
    display: flex; /* Use flexbox to manage layout */
    flex-direction: column; /* Stack rows vertically */
}