.roboto-body {
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

.row::after {
    content: "";
    clear: both;
    display: table;
    height: 25px;
}

.rowSmall {
    content: "";
    clear: both;
    display: table;
    height: 5px;
}

[class*="col-"] {
    float: left;
}

@keyframes scrollText {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.eventName {
    text-align: left;
    color: white;
    background-color: rgba(0,0,0,1.0);
    width: auto;
    font-size: 4vw;
}
.placeNumber {
    display: flex;
    align-items: center;
    height: 100%;
    text-align: center;
    color: #fff;
    background-color: rgb(18, 104, 175);
    width: 100%;
    font-size: 1.5vw;
    padding: 0px 17px 0px 7px;
    border-radius: 0px 4px 4px 0px;
    clip-path: polygon(0% 0%, 70% 0%, 100% 50%, 70% 100%, 0% 100%, 0% 50%);
    width: 60px;
    justify-content: center;
}
.placeNumDiv{
    background: rgb(255, 255, 255, 1.0);
}
.laneNumber {
    display: flex;
    align-items: center;
    height: 100%;
    text-align: center;
    background:  rgb(255, 255, 255,1.0);
    background-color: #000000 !important;
    width: 92px;
    font-size: 1.5vw;
    padding: 0px 30px;
    border-radius: 4px;
    clip-path: polygon(0% 0%, 70% 0%, 100% 50%, 70% 100%, 0% 100%, 0% 50%);
    padding-right: 46px;
}
.laneNumberSmall {
    display: flex;
    align-items: center;
    height: 100%;
    text-align: center;
    background:  rgb(255, 255, 255,1.0);
    background-color: #000000 !important;
    width: 92px;
    font-size: 0.8vw;
    padding: 0px 30px;
    border-radius: 4px;
    clip-path: polygon(0% 0%, 70% 0%, 100% 50%, 70% 100%, 0% 100%, 0% 50%);
    padding-right: 46px;
}

.athleteName {
    display: flex;
    align-items: center;
    height: 100%;
    text-align: left;
    color: black;
    background:  rgb(255, 255, 255,1.0);
    width: auto;
    font-size: 1.5vw;
}
.athleteNameDiv{
    width: 80%;
}
.teamName {
    display: flex;
    align-items: center;
    height: 100%;
    text-align: left;
    color: black;
    background:  rgb(255, 255, 255,1.0);
    width: auto;
    font-size: 1.5vw;
}
.teamNameDiv{
    width: 20%;
}
.splitTime {
    text-align: center;
    color: white;
    background-color: rgba(0,0,0,1.0);
    width: 100%; /* Ensure full width */
    box-sizing: border-box; /* Include padding in the element's total width and height */
    padding: 0 10px; /* Add some padding if needed */
    font-size: 1.5vw;
    margin: 0px !important;
}
.finalTime {
    text-align: right;
    color: white;
    width: 100%; /* Ensure full width */
    box-sizing: border-box; /* Include padding in the element's total width and height */
    padding: 0 10px; /* Add some padding if needed */
    font-size: 1.5vw;
    margin: 0px !important;
}
h2 {
    font-size:2vw;
}

h3 {
    font-size:1.5vw;
}
.col-6 h2{
    margin-bottom: 0px !important;
}
.result-box{
    font-family:Arial;
    color:white;
    position: fixed;
    left: 25%;
    top: 0%;
    text-align: center;
    width: 50%;
    padding: 15px 15px 15px 1em ;
    border-radius: 20px;
    background:rgba(18, 104, 175, 1.0);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 1.0);
}
.result-row{
    
    display: flex;
    flex-direction: row;
    background: rgba(18, 104, 175, 1.0);
    border-radius: 4px;
    margin-bottom: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 1.0);
}
.blankbox{
    background: rgb(255, 255, 255, 1.0);
    clip-path: polygon(0% 0%, 95% 0%, 100% 50%, 95% 100%, 0% 100%, 0% 50%);
    width: 40%;
    display: flex
;
    justify-content: end;
    align-items: center;
    padding-right: 31px;
}
.box-header{
    background-color: black;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    border-radius: 15px 15px 0px 0px;
}
.box-end{
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 0px 0px 15px 15px;
    padding: 3px 10px;
    /* border-top: 2px solid #fff; */
}
.flag-img{
    height: 22px;
    width: 34px;
    display: flex;
    align-items: center;
}
.numDiv{
    background: rgb(18, 104, 175);
    border-radius: 4px 0px 0px 4px; 
}
.timeDiv{
    display: flex;
    align-items: center;
}
.result-table{
    margin-top: 1em;           
 }
.textHead{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}
.m{
    margin: 0px !important;
}
.endLogo{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    padding: 10px;
    border-radius: 0px 0px 15px 15px;
    width: 300px;
    height: 58px;
}
.swimnerdHeaderLogo{
   width: 74px;
   height: 58px;
   background: #ffffff;
   border-radius: 5px 5px 5px 5px;
}
.vll{
    border-left: 2px solid #fff;
    height: 30px;
    margin-top: 15px;
    PADDING: 10PX;
    MARGIN-LEFT: 10PX;
    }
.vl{
    border-left: 2px solid #fff;
    height: 30px;
    margin-top: 11px;
}
/********** Scene 2 *****************/
.boxView {
    background:rgb(18, 104, 175);
    width: auto;
    max-width: 30%;
    border-radius: 0px 20px 20px 0px;
    padding: 1em;
    color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 1.0);
}
.box{
    display: flex;
    flex-direction: row;
    border: 1px solid;
    border-color: #fff;
    background-color: rgb(18, 104, 175);
    border-radius: 4px;
    margin-bottom: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 1.0);
}
img.clock-Icon {
    margin-bottom: 5px;
}
.teamDivSmall{
    text-align: left;
    color: rgb(0, 0, 0);
    width: 10%;
    padding: 0px 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.nameDiv{
    display: flex;
    align-items: center;
    background: rgb(255,255,255,1.0);
}
.nameDivSmall {
    text-align: left;
    color: rgb(0, 0, 0);
    width: 30%;
    padding: 0px 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.teamNameSmall {
    display: flex;
    align-items: center;
    height: 100%;
    text-align: left;
    color: black;
    background:  rgb(255, 255, 255,1.0);
    width: auto;
    font-size: 0.7vw;
    white-space: nowrap;
}
.athleteNameSmall {
    display: flex;
    align-items: center;
    height: 100%;
    text-align: left;
    color: black;
    background:  rgb(255, 255, 255,1.0);
    width: auto;
    font-size: 0.8vw;
    white-space: nowrap;
}
.tDiv{
    display: flex;
    align-items: center;
}
.runningTimeSmall {
    text-align: center;
    color: rgb(0, 0, 0);
    width: 100%;
    font-size: 2vw;
    background: rgba(0,0,0,1.0);
    color: yellow;
    border: 1px solid #fff;
    margin-bottom: 8px;
    padding: 4px;
}
.splitTimeSmall {
    text-align: center;
    color: white;
    background-color: rgba(0,0,0,1.0);
    width: 100%; /* Ensure full width */
    box-sizing: border-box; /* Include padding in the element's total width and height */
    padding: 0 10px; /* Add some padding if needed */
    font-size: 0.8vw;
    margin: 0px !important;
    white-space: nowrap;
}
.finalTimeSmall {
    text-align: right;
    color: white;
    width: 100%; /* Ensure full width */
    box-sizing: border-box; /* Include padding in the element's total width and height */
    padding: 0 10px; /* Add some padding if needed */
    font-size: 0.8vw;
    margin: 0px !important;
    white-space: nowrap;
}
.timeDivSmall{
    display: flex;
    align-items: center;
    vertical-align: middle;
}

